/* <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet"> */


/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Cabin:ital,wght@1,500&family=Nunito:wght@600&display=swap');
.timer{    
    text-align: center;
    height: 300px;
    position: relative;
    
    
    
    
}
.timeLeft{
    font-size: 6rem;
    padding-top: 20%;
    font-family: 'Nunito', sans-serif;
    color: cornsilk;
    

}
.timeLabel{
    font-family: 'Bilbo', cursive;
    
    color: cornsilk;
    font-size: 4rem;
}