@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Cabin:ital,wght@1,500&family=Nunito:wght@600&display=swap');
.App {
  text-align: center;
  background-color: indianred;
  /* margin-top: 0;
  border-top: 0;
  padding-top: 0; */
  width: 100%;
  height: 100%;
 
}
body{
  background-color: indianred;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  font-family: 'Bilbo';
  font-size: 30px;
  /* padding-top: 0;
  margin-top: 0;
  border-top: 0; */
  color: cornsilk;
  
}

.pomodoro{
  width: 40em;
  height: 29em;
  background-color: indianred;
  position: absolute;
  left: 50%;
  top: 24%;
  transform: translate(-50%, -40%);
  /* border: 1px solid white; */
}

.clock{
  background-color: rgb(214, 77, 77);
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  top:15%;
  transform: translate(-50%, -35%);
  border-radius: 50%;
  text-align: center;
  align-content: center;

}
.phase{
  position: relative;
  top:0%;
  transform: translate(0%, -20%);
  
}